*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --padding: 50px 135px;
}
/* header-container-styles-start-here */
/* logo and navber */
.header-container{
    display: flex;
    padding: var(--padding);
}.header-container div{
    width: 50%;
}
.logo-content{display: flex;}
.logo-content h1{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;}
.golo{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Gochi Hand', cursive;
}
.logo-content h2{
   
    color: #036d01;
    font-size: 36px;
    font-weight: 800;
}
.navber-content{}
.navber-content {}
.navber-content ul{
    display: flex;
    justify-content: space-around;
}
#home{
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;}
.navber-content ul li {
    list-style: none;}
.navber-content ul li a{ 
    text-decoration: none;
    color:#424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;}
/* logo and navber end */
/* banner-start-here */
.banner-container{
    padding: var(--padding);}
.banner-img{    
    padding: var(--padding);
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    height: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner-content {
    width: 70%;
    margin: 15% auto;
    text-align: center;
}
.banner-content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;}
.banner-content h2{color: #FFF;
    font-size: 16px;
    font-weight: 400;}
.banner-textfild{    
    border: 15px solid #ffffff8c;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.banner-textfild input {    
    width: 174px;
    height: 52px;
    border-radius: 7px;
    border: none;
}
::placeholder{
    text-align: center;
}
.find {width: 174px;
    height: 52px;
    background: rgb(255, 98, 0);
    border-radius: 7px;
    border: none;
    color: #FFF;}
#find::placeholder{
    color: white;
}
/* ture-text-style-staret-here */
.popular-turs-container{padding: var(--padding);
    display: flex;}
.popular-turs-container div{width: 50%;}
.turs-text{}
.turs-text h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;}
.turs-text h2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;}
.ture-list{
    margin-left: 5%;
}
.ture-list li {}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: white;
    padding: 1.8%;
    border: none;
    width: 25%;
    cursor: pointer;}
.turs-img{}
.turs-img img{    margin-left: 35%;}
/* desatination-section-styles-satrt */
.destination-container{
    padding: var(--padding);}
.destination-text {
    text-align: center;
    width: 95%;
 }
.destination-text h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;}
.destination-text h2{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;}
.maldivs-indonesia{    
    width: 100%;
    display: flex;
    gap: 25px;}
.maldivs{
    height: 500px;
    background-image: url(../Images/Rectangle\ 5.png);
    width: 50%;
    background-repeat: round;
    background-size: cover;
    border-radius: 10px;}
.maldivs h1{    padding: 27% 37%;
    color: white;
    font-size: 45px;}
.indonesia{
    height: 500px;
    background-image:url('../Images/Rectangle\ 8.png');
    width: 50%;
    background-repeat: round;
    background-size: cover;
    border-radius: 10px;}
.indonesia h1{padding: 27% 37%;
    color: white;
    font-size: 45px;}
.srilonke-america-kashmir{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 25px;
    margin: 25px auto;
}
.srilonka{height: 400px;
    background: url('../Images/Rectangle\ 6.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;}
.srilonka h1{    
    padding: 30% 33%;
    color: white;
    font-size: 45px;}
.america{height: 400px;
    background-image:url('../Images/Rectangle\ 7.png');
    background-size: cover;
    border-radius: 10px;
    background-repeat: round;}
.america h1{    
    padding: 30% 33%;
    color: white;
    font-size: 45px;}
.kashmir{    
    height: 400px;
    background-image: url(../Images/Rectangle\ 9.png);
    background-size: cover;
    border-radius: 10px;
    background-repeat: round;}
.kashmir h1{    
    padding: 30% 33%;
    color: white;
    font-size: 45px;}
.bangladesh-bandorban{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 25px;
}
.bangladesh{
    background: url('../Images/Rectangle\ 11.png');
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    background-repeat: round;
}
.bangladesh h1{
    padding: 23% 30%;
    color: white;
    font-size: 45px;
}
.bandorban{
    background: url('../Images/Rectangle\ 10.png');
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    background-repeat: round;}
.bandorban h1{
    padding: 17% 35%;
    color: white;
    font-size: 45px;}
.choice-container{padding: var(--padding);}
.choice-text{}
.choice-text h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;}
.choice-text h2{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;}
/* hotel-service */
.hotel-service-container{ display: flex;
    padding: var(--padding);
    gap: 15px;}
.hotel-service-container div{width: 50%;}
.hotel-division{    padding: 3%;
    background: linear-gradient(86deg, #f5ff60, transparent);
    border-radius: 10px;
    color: #000072;}
.hotel-division img{}
.hotel-division h1{color: #00006f;
    font-size: 24px;
    font-weight: 800;}
.hotel-division h2{
    color: #00006f;
    font-size: 16px;
    font-weight: 400;}
.service-division{padding: 3%;
    background: linear-gradient(268deg, #2683ff, transparent);
    border-radius: 10px;
    color: #0606a2;}
.service-division img{}
.service-division h1{ 
    font-size: 24px;
    font-weight: 800;}
.service-division h2{ 
    font-size: 16px;
    font-weight: 400;}
/* .price-deals-container-start-here */
.price-deals-container{padding: var(--padding);}
.price{    
    padding: 3%;
    background: linear-gradient(268deg, #f8ff8c, #ff3a3a);
    border-radius: 10px;
    color: #4b0075;
    width: 50%;
    margin: 0px auto;}
.price img{}
.price h1{font-size: 24px;
    font-weight: 800;}
.price h2{font-size: 16px;
    font-weight: 400;}
/* tour-banner-container */
.tour-banner-container{
    background: url(../Images/Group\ 39.png);
    width: 90%;
    height: 500px;
    margin: 20px auto;
    background-repeat: round;
    background-size: cover;
}
.tour-banner-container1{
    background: url(../Images/Group\ 40.png);
    width: 90%;
    height: 500px;
    margin: 20px auto;
    background-repeat: round;
    background-size: cover;
}
.banner-contant{    
    width: 45%;
    padding: 3%;
    background: #ffffffb8;
    height: 60%;
    border-radius: 10px;
    margin: 2px 45%;
    position: relative;
    top: 60px;}
.banner-contant1{    
    width: 45%;
    padding: 3%;
    background: #ffffffb8;
    height: 60%;
    border-radius: 10px;
    margin: 2px 5%;
    position: relative;
    top: 60px;}
.banner-contant ul{    display: flex;
    list-style: none;}
.banner-contant ul li {    margin-left: 30px;}
.banner-contant h1{}
.banner-contant h2{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;}
.banner-contant h3{}
























    @media screen and (max-width:600px) {
        /* banner-responsive-unit */
        .header-container {
            padding: 0;
            flex-direction: column;
        }.header-container div {
            width: 100%;
        }
        .banner-container {
            padding: 20px 20px;
        }.banner-img {
            padding: 0;
            background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
            background-size: cover;
            height: 485px;
            width: 350px;
            border-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }.banner-content {
            padding: 30px 45px;
        }.banner-content h1 {
            color: #230808;
            font-size: 25px;
            font-weight: 800;
            padding:0;
        }
        .banner-textfild {
            display: inline-block;
            margin-top: -15px;
        }.banner-textfild input {
            width: 100%;
            height: 52px;
            margin-top: 7px;
        }
        /* .popular-turs-container-unit */
        .popular-turs-container {
            padding:0px;
            flex-direction: column;
        }
        .turs-img img {
            margin-left:0%;
            width: 100%;
        }.popular-turs-container div {
            padding: 5px 45px;
        }.popular-turs-container div {
            width: 80%;
        }
        /* destination-section-start */
        .destination-container {
            padding: 20px 20px;
        }.maldivs-indonesia {
            gap: 5px;
            flex-direction: column;
        }.maldivs {
            width: 460px;
            height: 300px;
            margin: 0px auto;
        }.maldivs h1 {
            padding: 25% 32%;
        }.indonesia{
            width: 460px;
            height: 300px;
            margin: 0px auto;}
        .indonesia h1{
            padding: 25% 32%;}
        .srilonke-america-kashmir {
            grid-template-columns: 1fr;
            gap: 5px;
            margin: 5px auto;
            }.srilonka {
                width: 460px;
                height: 350px;
                margin: 0px auto;
            }
            .srilonka h1{  }
            .america{width: 460px;
                height: 350px;
                margin: 0px auto;}
            .america h1{ }
            .kashmir{  width: 460px;
                height: 350px;
                margin: 0px auto; }
            .kashmir h1{    }
            .bangladesh-bandorban {
                grid-template-columns:1fr;
                gap: 5px;
            }.bangladesh{ width: 460px;
                height: 350px;
                margin: 0px auto;
            }
            .bangladesh h1 {
                padding: 30% 22%;
                color: white;
                font-size: 45px;
            }
            .bandorban{ width: 460px;
                height: 350px;
                margin: 0px auto;}
            .bandorban h1 {
                padding: 35% 26%;
                font-size: 45px;
            }.choice-container {
                padding: 0px;
            }.hotel-service-container {
                gap: 10px;
                padding: 20px 20px;
                flex-direction: column;
            }
            .hotel-service-container div {
                width: 100%;
            }.price-deals-container{
                padding: 0px;    
                padding: 20px 20px;}
           .price-deals-container div {width: 100%;}
            .price{ gap: 10px;}
            .price img{}
            .price h1{}
            .price h2{}
            
    }

























































